$primary-color: #3498db;
$secondary-color: #2ecc71;

.lal{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Raleway', sans-serif;
}


$topHeader-font-family :'Montserrat', sans-serif;
$topHeader-font-size : 1.5vw;

$header-font-family :'Playfair Display', serif;
$header-font-size : 1.2vw;

$topTitle-font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$topTitle-font-size : 1vw;

$title-font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$title-font-size : 0.8vw;

$subTitle-font-family : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$subTitle-font-size : 0.6vw;



$font-size-large: 18px;


$cursor-Enter : url("../../Assets/Pic/Cursor/Enter.png"), auto;
$cursor-Error : url("../../Assets/Pic/Cursor/Error.png"), auto;
$cursor-Correct : url("../../Assets/Pic/Cursor/Correct.png"), auto;
$cursor-Help : url("../../Assets/Pic/Cursor/Help.png"), auto;
$cursor-Info : url("../../Assets/Pic/Cursor/Help2.png"), auto;

$big-border-radius : 15vw;
$small-border-radius : 8vw;
$div-border-radius: 1vw;
